.form-inline {
    display: inline-block;
}

/*NAVBAR*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

*{
    color: black;
}

body {
    margin: 0;
   /* background: #191919;*/
}
a {
    text-decoration: none;
}

/*
_nav.scss
*/
.top {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1.5rem auto 1.5rem;
    height: 4.5rem;
    background: #fff;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1)
}

.nav__ {
    grid-column-start: 2;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    color: #efefef;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.nav__item {
    transition: 0.3s ease;
    list-style-type: none;
    height: inherit;
    box-shadow: inset 0 0rem 0 #7FC53C;
}
.nav__item--active {
    color: #7FC53C;
    box-shadow: inset 0 -0.4rem 0 #7FC53C;
}
.nav__item:hover {
    color: #7FC53C;
    box-shadow: inset 0 -0.4rem 0 #7FC53C;
}
.nav__link {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
.nav__link--text {
    font-weight: 600;
    margin-left: 0.5rem;
}
@media (max-width: 900px) {

}
.nav__controls {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.nav__controls--left {
    grid-column-start: 1;
    display: flex;
    justify-content: flex-start;
}
.nav__controls--right {
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
}
.nav__brand {
    grid-column-start: 2;
    justify-self: center;
    color: #7FC53C;
}
.nav__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    border-right: 0.1rem solid #323232;
    height: 1rem;
}
.nav__search--input {
    height: 2rem;
    border-radius: 100rem;
    margin-right: 1rem;
    width: 100%;
    min-width: 8rem;
    background: #f2f2f2;
    border: 0;
    color: #efefef;
}
@media (max-width: 900px) {
    .nav__search--input {
        display: none;
    }


}
.nav__search--icon {
    color: #323232;
}
.nav__avatar {
    margin: 0 1rem;
    color: #7FC53C;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}
.nav__avatar:hover .nav__avatar--dropdown {
    display: flex;
    color: #ccc;
}
.nav__avatar--dropdown {
    background: #fff;
    display: none;
    flex-direction: column;
    z-index: 9999999;
    padding: 1rem;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}
.nav__avatar--dropdown:hover {
    display: flex;
}
.nav__avatar--dropdown:before {
    position: relative;
    top: -5rem;
    left: 4rem;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}
.nav__avatar--dropdown button {
    padding: 0.75rem 2.5rem;
    margin: 0 0 1rem 0;
    width: 100%;
    cursor: pointer;
}

/*dropdown mas versão menu*/
.nav__avatar:hover .nav__menu--dropdown {
    display: flex;
    color: #ccc;
}
.nav__menu--dropdown {
    background: #fff;
    display: none;
    flex-direction: column;
    z-index: 9999999;
    padding: 1rem;
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}
.nav__menu--dropdown:hover {
    display: flex;
}
.nav__menu--dropdown:before {
    position: relative;
    top: -5rem;
    left: 4rem;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}
.nav__menu--dropdown button {
    padding: 0.75rem 2.5rem;
    margin: 0 0 1rem 0;
    width: 100%;
    cursor: pointer;
}




.nav__avatar--image {
    font-size: 3rem;
    position: relative;
    border-radius: 50%;
}
.nav__btn {
    background: #7FC53C;
    border: 0;
    color: #efefef;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 100rem;
    margin-left: 1rem;
}

.nav__btn2 {
    background: #f2f2f2;
    border: 0;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.75rem 1.5rem;
    border-radius: 100rem;
    margin-left: 1rem;
}

.icones {
    width: 30px;
}

/*FIM NAVBAR*/

a {
    text-decoration: none !important;
}

/*FEED*/
.card {
    animation-duration: 0.3s;
    animation-name: card_opacity;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
}

.card.test {
    margin: 35px auto 0;
    width: 738px;

}

.header {
    padding: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.35;
}

.header img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 8px;
    -webkit-user-select: none;
}

.text-content {
    padding-top: 7px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;

}

.text-content p {
    font-size: 14px;
    margin: 0;
    color: inherit;
}

.headers-text {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    height: auto;
}

.headers-text .author-name {
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    display: block;
}

.headers-text .header-secondary-text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    display: block;
}

.photo-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.photo-content .photo {
    border: 1px solid #eee;
}

.photo-content .photo .card-photo {
    height: 100%;
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.actions i {
    color: rgba(0, 0, 0, 0.87);
    color: #929292;
}

.actions .social-wrapper {
    font-size: 14px;
}

.actions .social-wrapper .share {
    color: #929292;
    font-weight: 500;
}

.actions .social-wrapper .comment-count {
    padding-right: 16px;
    color: #929292;
    font-weight: 500;
}

.right-side {
    display: flex;
    flex-direction: row;
}

.like-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.like-napis-dla-rafala {
    padding-left: 10px;
    line-height: initial;
    font-size: 13px;
    color: #929292;
    font-weight: 500;
}

/* .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

.label-container {
    position: fixed;
    bottom: 50px;
    right: 105px;
    display: table;
    visibility: hidden;
}

.label-container2 {
    position: fixed;
    bottom: 130px;
    right: 105px;
    display: table;
    visibility: hidden;
}

.label-text {
    color: #FFFFFF;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
}

/*FIM DO FEED*/

/*EVENTOS*/

.add-event-section {
    position: fixed;
    right: 50px;
    bottom: 120px;
}

.add-event-section a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    display: block;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    text-align: right;
    background-color: white;
    padding: 5px 15px 5px 30px;
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all 100ms linear;
    font-size: 17px;
    z-index: 4;
}

.add-event-section a:hover {
    background-color: rgba(150, 210, 255, 0.9);
}

.add-event-section a:before {
    font-family: "FontAwesome";
    position: absolute;
    left: 10px;
    top: 9px;
}

.add-event-section #upload:before {
    content: "";
}

.add-event-section #add:before {
    content: "";
}

.add-event-section input[type="checkbox"] {
    display: none;
}

.add-event-section input[type="checkbox"]:checked ~ .floating-action-button {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-event-section input[type="checkbox"]:checked ~ .floating-action-button:hover {
    -webkit-transform: rotate(45deg) scale(1.05);
    transform: rotate(45deg) scale(1.05);
}

.add-event-section input[type="checkbox"]:checked ~ a {
    visibility: visible;
    opacity: 1;
    margin: 25px 0;
}

.add-event-section input[type="checkbox"]:checked ~ #backdrop {
    opacity: 0.65;
    visibility: visible;
}

.add-event-section .floating-action-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: block;
    width: 70px;
    z-index: 100;
    height: 70px;
    border-radius: 50%;
    background-color: #146eff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.add-event-section .floating-action-button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.add-event-section .floating-action-button i {
    transition: -webkit-transform 100ms linear;
    transition: transform 100ms linear;
    transition: transform 100ms linear, -webkit-transform 100ms linear;
}

.events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 50px;
}

.events .event-card {
    display: inline-block;
    background: white;
    width: 350px;
    margin: 20px;
    cursor: default;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: all 100ms ease-in-out;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.9);
}

.events .event-card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.events .event-card img {
    width: 100%;
    height: 250px;
    border-radius: 2px 2px 0 0;
}

.events .event-card .description {
    padding: 5px 15px 15px;
}

.events .event-card .description h3 {
    padding-bottom: 5px;
    font-size: 20px;
}

.events .event-card .description .controls {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.events .event-card .description .controls a {
    color: black;
    cursor: pointer;
    font-size: 20px;
    width: 20%;
    text-align: center;
    padding: 2px;
}

.events .event-card .description .controls a:hover {
    background-color: #ddd;
    border-radius: 20px;
}

.events .event-card .description .location {
    font-size: 18px;
}

.events .event-card .description .location:before {
    font-family: "FontAwesome";
    content: "";
    display: inline-block;
    height: 18px;
    margin-right: 8px;
}

.label-text {
    color: #FFF;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
}

/*botões flutoantes*/
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#7FC53C;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    font-size:24px;
    margin-top:18px;
}

a.float + div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
    visibility: visible;
    opacity: 1;
}

/*FIM EVENTOS*/

/*PERFIL*/

/*imagem de perfil*/

.img_redonda {
    width: 180px;
    height: 180px;
    border-radius: 100%;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    display: block;
    margin: auto;
}

.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

input {
    display: none;
}

label.label :hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

label.label::before{
    color: black;
    position: relative;
    top: 17%;
    text-align: center;
    display: block;
    margin: auto;
}

label.label {
    align-content: end;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    display: block;
    margin-left: -50%;
    z-index: 200;
}

.avatar-preview {
    width: 192px;
    height: 192px;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/***********/

.tamanho {

    width: 190px;
    height: 170px;
}

.fundo_login {
    background-image: url("../img/background.png");
    width: 100%;
    background-size: cover;
}

.topo {

    height: 8%;
    width: auto;
    margin-top: 8%;
}

.topo1 {

    padding-top: 3%;
}

.centro {

    margin-top: 5%;
}

.utilizador {
    display: block;
    margin: auto;
}

.alinhar {
    width: 30%;
    margin-left: 35%;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 9%;
    background-color: #f1f2f2;
    padding: 10px;
    font-size: 20px;
    z-index: 10;
}

.square {
    width: 100%;
    padding-bottom: 6%;
    z-index: 1;
}

.square img {
    width: 100%;
}

.square1 {
    width: auto;
    padding-bottom: 3%;
    display: block;
    margin: 2%;
    z-index: 1;
}

.square1 img {
    width: 40%;
}

/* Extra small devices (0px --- 599px) */
@media only screen and (max-width: 599px) {
    .nav-tabs {
        display: block;
        margin: auto;
        width: 45%;
    !important;
    }

    ul.nav.nav-tabs {
        width: 55%;
    }

    li .nav-item {
        width: 25px;
        height: auto;
    }

    .nav-item {
        display: block;
        margin: auto;
    }

    .nav-item img {
        width: 25px;
        height: auto;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: transparent !important;
        border-color: #dddfeb #dddfeb transparent !important;

        width: 60px;
        height: 30px;
    }

    .nav-tabs .nav-link {
        width: 60px;
        height: 30px;
    }
}

/* Small devices (600px --- 767px) */
@media only screen and (min-width: 600px) {
    .nav-tabs {
        display: block;
        margin: auto;
        width: 45%;
    !important;
    }

    li .nav-item {
        width: 25px;
        height: auto;
    }

    .nav-item {
        display: block;
        margin: auto;
    }

    .nav-item img {
        width: 25px;
        height: auto;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: transparent !important;
        border-color: #dddfeb #dddfeb transparent !important;

        width: 60px;
        height: 30px;
    }

    .nav-tabs .nav-link {
        width: 60px;
        height: 30px;
    }
}

/* Medium devices (768px --- 991px) */
@media only screen and (min-width: 768px) {
    .nav-tabs {
        display: block;
        margin: auto;
        width: 35%;
    !important;
    }

    ul.nav.nav-tabs {
        width: 45%;
    }

    li .nav-item {
        width: 30px;
        height: auto;
    }

    .nav-item {
        display: block;
        margin: auto;
    }

    .nav-item img {
        width: 30px;
        height: auto;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: transparent !important;
        border-color: #dddfeb #dddfeb transparent !important;
        width: 60px;
        height: 40px;
    }

    .nav-tabs .nav-link {
        width: 60px;
        height: 40px;
    }
}

/* Large devices (992px --- 1199px) */
@media only screen and (min-width: 992px) {
    .nav-tabs {
        display: block;
        margin: auto;
        width: 35%;
    !important;
    }

    li .nav-item {
        width: 35px;
        height: auto;
    }

    .nav-item {
        display: block;
        margin: auto;
    }

    .nav-item img {
        width: 35px;
        height: auto;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: transparent !important;
        border-color: #dddfeb #dddfeb transparent !important;
        width: 75px;
        height: 45px;
    }

    .nav-tabs .nav-link {
        width: 75px;
        height: 45px;
    }
}

/* Extra large devices (1200 e superior) */
@media only screen and (min-width: 1200px) {

    .nav-tabs {
        display: block;
        margin: auto;
        width: 30%;
    !important;
    }

    li .nav-item {
        width: 40px;
        height: auto;
    }

    .nav-item {
        display: block;
        margin: auto;
    }

    .nav-item img {
        width: 40px;
        height: auto;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: transparent !important;
        border-color: #dddfeb #dddfeb transparent !important;
        width: 80px;
        height: 50px;
    }

    .nav-tabs .nav-link {
        width: 80px;
        height: 50px;
    }
}

.icon_perfil {
    width: 140px;
    height: 154px;
}

.cantos_redondos {
    border-radius: 20px;
}

#perfil {
    margin-top: -6%;
    background-image: url("../img/perfil.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;

}

/*FIM DO PERFIL*/
/***********************************PAGINAS DE CODIGOS****************************/

#fundo_codigo{
    background-image: url("../img/perfil.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;

}



/* Extra small devices (0px --- 599px) */
@media only screen and (max-width: 599px) {
    input.text-center.personalizar{
        padding-left: 40px;
        padding-right: 40px;
    }
}
/* Small devices (600px --- 767px) */
@media only screen and (min-width: 600px) {
    input.text-center.personalizar{
        padding-left: 80px;
        padding-right: 80px;
    }
}
/* Medium devices (768px --- 991px) */
@media only screen and (min-width: 768px) {
    input.text-center.personalizar{
        padding-left: 80px;
        padding-right: 80px;
    }
}
/* Large devices (992px --- 1199px) */
@media only screen and (min-width: 992px) {
    input.text-center.personalizar{
        padding-left: 80px;
        padding-right: 80px;
    }
}
/* Extra large devices (1200 e superior) */
@media only screen and (min-width: 1200px) {
    input.text-center.personalizar{
        padding-left: 80px;
        padding-right: 80px;
    }
}




.personalizar{
    border: 10px solid #f2f2f2;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.fundo{
    background-color: #f2f2f2;
    width: 100%;
    height: 20vh;
    color: black;
    border-radius: 20px;
}

/*FIM DOS CODIGOS*/

/********************ESTILOS PARA OS PESOS DAS LETRAS!!!*****************************/

.semibold{
    font-weight: 500;
}

.preto{
    color: black;
}
/* FIM DOS ESTILOS DAS LETRAS*/

/* TOP */

/*.box-ranking {

    box-shadow: 0 2px 69px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}*/
.img-ranking {
    width: 100px;
    height: 100px;
}
.media-ranking-item {
    text-align: center
}
.name-user {
    font-weight: bolder;
    margin-bottom: 4px
}
.img-list-ultimos {
    width: 50px;
    height: 50px;
}
.br {
    border-radius: 100px !important
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center
}
.number-ranking-position {
    margin-right: 20px;
    font-weight: bolder
}
.name-user-ultimos {
    font-weight: bolder;
    margin: 0 0 0 20px;
}
.name-user-ranking-cidade {
    display: flex;
    flex-direction: column;
}
.name-user-ranking-cidade span {
    margin-left: 20px
}

.primeiro-colocado .img-ranking {
    width: 150px;
    height: 150px;
}

.primeiro-colocado .name-user {
    font-size: 20px;
}
.primeiro-colocado small {
    font-size: 15px;
}
.segundo-colocado, .terceiro-colocado {
    margin-top:55px
}
.linha-ultimos .col-md-12 {
    padding: 20px;
    transition: all .3s ease-in;
}

.linha-ultimos .col-md-12:hover {
    background: rgba(0,0,0,0.03)
}
.title-ranking {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px
}

/*INFLUENCERS EM DESTAQUE*/

.v-btn {
    align-items: center;
    border-radius: 2px;
    display: inline-flex;
    height: 36px;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    margin: 6px 8px;
    min-width: 88px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.v-btn:before {
    border-radius: inherit;
    color: inherit;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0.12;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
}

.v-btn:focus,
.v-btn:hover {
    position: relative;
}

.v-btn:focus:before,
.v-btn:hover:before {
    background-color: currentColor;
}

.v-btn__content {
    align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
    width: inherit;
}

.v-btn:not(.v-btn--depressed):not(.v-btn--flat) {
    will-change: box-shadow;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.v-btn:not(.v-btn--depressed):not(.v-btn--flat):active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.avatar_dest {
    width: 50px;
    height: 50px;
    margin-left: -42px;
    border-radius: 50%;
}

.v-avatar {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.v-avatar img {
    border-radius: 50%;
    display: inline-flex;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.v-card {
    text-decoration: none;
}

.v-card > :first-child:not(.v-btn):not(.v-chip) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.v-card > :last-child:not(.v-btn):not(.v-chip) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.v-sheet {
    display: block;
    border-radius: 2px;
    position: relative;
}

.headline {
    font-weight: 400;
    letter-spacing: normal !important;
    font-size: 24px !important;
    line-height: 32px !important;
}

.title {
    font-size: 20px !important;
    font-weight: 700;
    line-height: 1 !important;
    letter-spacing: 0.02em !important;
}

.caption {
    font-weight: 400;
    font-size: 12px !important;
}

.theme--light.v-btn {
    color: rgba(0, 0, 0, 0.87);
}

.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: #f5f5f5;
}

.theme--light .v-card {
    box-shadow: rgba(0, 0, 0, 0.11) 0 15px 30px 0px,
    rgba(0, 0, 0, 0.08) 0 5px 15px 0 !important;
}

.theme--light.application .v-card {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
    color: #102c3c !important;
}

.theme--light.v-card,
.theme--light.v-sheet {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
}



.wrapper {
    overflow: auto;
}

.answers {
    padding-left: 64px;
}

.comment {
    overflow-y: auto;
    margin-left: 32px;
    margin-right: 16px;
}

.comment p {
    font-size: 14px;
    margin-bottom: 7px;
}

.displayName {
    margin-left: 18px;
}




.headline {
    margin-left: 32px;
}




.carddest {
    padding: 8px 16px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 640px) {
    .comment-container {
        width: 100%;
        margin: 0;
    }

}
