p{
    font-family: 'Roboto', sans-serif;
}

*{
    font-family: 'Dosis', sans-serif;
}


/*noticias*/

.card-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card-photo1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}

.card-text {
    line-height: 1.5;
    padding: 1.5rem;
    height: 200px;
}

.card-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin: 0;
}

.card-text a {
    text-decoration: none;
    color: dimgray;
    border: 1px solid dimgray;
    padding: 5px 7px;
    border-radius: 4px;
}

.card-text a:hover {
    background: dimgray;
    color: #fff;
}

.card-text p {
    text-align: justify;
}

.notic_text {
    text-align: justify;
}

.sombra_text_not {
    text-shadow: black 0.1em 0.1em 0.2em
}

.foto_arred {
    border-radius: 20px;
}



/*noticias*/

.lala {
    height: 80vh;
}
















/*GRUPOS*/
/*card grupos*/

.add-event-section {
    position: fixed;
    right: 50px;
    bottom: 120px;
}

.events1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 50px;
}

.events1 .event-card1 {
    display: block;
    background: white;
    width: 250px;
    cursor: default;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.9);
}

/*.events1 .event-card1:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}*/

.events1 .event-card1 img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.events1 .event-card1 .description {
    margin: 25px;
    height: 200px;
}

/*
.label-text {
    color: #FFF;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
}*/


/* Extra small devices (0px --- 599px) */
@media only screen and (max-width: 599px) {

    .events1 .event-card1 {
        width: 240px;
    }

    .lili {
        text-align: center;
    }

}
/* Small devices (600px --- 767px) */
@media only screen and (min-width: 600px) {
    .events1 .event-card1 {
        width: 240px;
    }
    .lili {
        text-align: center;
    }


}
/* Medium devices (768px --- 991px) */
@media only screen and (min-width: 768px) {
}
/* Large devices (992px --- 1199px) */
@media only screen and (min-width: 992px) {
    .lili {
        text-align: left;
    }

}
/* Extra large devices (1200 e superior) */
@media only screen and (min-width: 1200px) {
    .lili {
        text-align: left;
    }

}


.mg-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}
.mg-image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    border-radius: 20px 20px 0 0;
}
/* just apply some height and width to the wrapper.*/
.mg-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.botao_select {
    border: 1px solid #adb5bd;
    border-radius: 5px;
    width: 75%;
}

.drop_select {
    width: 75%;
}










/* GRUPO INDV*/


.container section {
    color: #000000;
    padding: 10px 0;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../img/beata.png");
}
.divider {
    padding:0;
    margin:0;
}
.divider h1 {
    margin: 20%;
    text-align:center;
    color: black;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    padding: 2%;
}


/**/
